name: Continuous Integration

on:
  push:
  pull_request:

jobs:
  testing:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js v22
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build project
        run: pnpm run build
      - name: ESLint check
        run: pnpm run lint
      - name: TypeScript check
        run: pnpm run typecheck
